管理者画面
<h1 class="teachers-title">教師用マイページ</h1>
<div class= 'Introduction'>
    <p>名前 : <%= @teacher.name %></p>
    <p>メールアドレス : <%= @teacher.email %></p>
    <p>学校名 : <%= @teacher.team %></p>
    <p>id : <%= @teacher.id %></p>
    <p><%= Date.today %></p>
</div>
<div class="bottom-box">
    <p class="bottom">
        <% if current_teacher.id == @teacher.id %>
            <%= link_to "編集する", edit_teacher_registration_path ,class:"btn btn-outline-secondary"%>
        <% end %>
    </p>
    <p class="bottom"><%= link_to 'ログアウト', destroy_teacher_session_path, method: :delete ,class:"btn btn-outline-secondary"%></p>
    <p class="bottom"><%= link_to 'トップページへ',   hello_index_path ,class:"btn btn-outline-secondary"%></p>
    <p class="bottom"><%= link_to '生徒アカウント作成',  new_student_registration_path ,class:"btn btn-outline-secondary"%></p>
</div>
<div class="change">
    <h1 class="teacher-moji">生徒一覧</h1>
    <div class="student-container">
        <% @students.each do |s| %>
            <%= s.name %> 
        <% end %>
    </div>

    <h1 class="teacher-moji">日付一覧</h1>
    <div class="teachers-container">
        <% @days.each do |t| %>
            <%= link_to t, tweet_path(t) %>
        <% end %>
    </div>
</div>